In [ ]:
ip1 = input()
ip = ip1.split(" ")
for i in range(int(ip[1])):
    print(ip[0])

3 4
3
3
3
3

In [ ]:
ip = input()
print(ip[-1:])

guvi
i

In [ ]:
ip = input()
print(ip[::-1])

guvi
ivug

In [ ]:
ip = int(input())
for i in range(ip):
    print(i)
    if (i+1)%2 == 0:
        print(i+1)

6
0
1
2
2
3
4
4
5
6

In [ ]:
ip = str(input())
oop, eop = "", ""
for i in ip:
    if int(i) % 2 == 0:
        eop += i + " "
    else:
        oop += i + " "
print(eop[:-1])
print(oop[:-1])

1234
2 4
1 3

In [ ]:
sorted(ip)

['1', '2', '3', '4']

In [2]:
ip = int(input())
print(int(ip * (ip+1)/2))

78

In [ ]:
r = int(input())
print(round(2*(22/7)*r,2))

2
12.57

In [ ]:
ip = input()
op = "".join(i for i in ip if i not in "aeiou")
print(op)

i am Sherry
 m Shrry

In [ ]:
ip = input()
op = "".join(i for i in ip if i.lower() not in "aeiou")
if len(op.strip())==0:
    print(-1)
else:
    print(op)

I am test
 m tst

In [ ]:
op.strip()

'm shry'

In [ ]:
print(bool(-1))

True

In [3]:
a = [1,2,3]

In [4]:
b = [4,3,2,1]

In [5]:
print(a[::-1])

[3, 2, 1]

In [7]:
bool("")

False

In [ ]:
sorted(a)

[1, 2, 3]

In [8]:
c = sorted(a)

In [9]:
ip = "3 3"
ip1 = "15 16 12".split()
ip2 = "357 10 23".split()
op = sorted(ip1) + sorted(ip2)[::-1]
opstr = " ".join(str(i) for i in op)
print(opstr)

12 15 16 357 23 10

In [ ]:
ip = input()
ip1 = input().split()
ip2 = input().split()
op = sorted(ip1) + ip2[::-1]
opstr = " ".join(str(i) for i in op)
print(opstr)

1
2
3
2 3

In [ ]:
ip1 = list(map(int,ip1))
print(ip1)

[2]

In [ ]:
ip = input()

3

In [ ]:
type(ip)

str

In [ ]:
s = 'abc'
op = 0
for i in s:
  print(ord(i))
  op += ord(i)
print(op)

97
98
99
294

In [ ]:
s = 'abc'
op = sum(ord(i) for i in s)
print(op)

294

In [ ]:
s = 'codekata'
sem = 0
for i in s:
  if i.lower() in 'aeiou':
    print("yes")
    sem = 1
    break
if sem==0:
  print("no")

yes

In [ ]:
s = 'cdkt'
op = "yes" if any(i.lower() in 'aeiou' for i in s) else "no"
print(op)

no

In [ ]:
s = 'hel23ao34'
print(len(s), len(s)/2)
if len(s)%2 == 0:
  op = s[:(int(len(s)/2)-1)] + '**' + s[(int(len(s)/2) +1):]
else:
  op = s[:(int(len(s)/2))] + '*' + s[(int(len(s)/2) +1):]
print(op)

9 4.5
hel2*ao34

In [ ]:
s = 'HR05-AA-2669'
op = sum(int(i) for i in s if i.isnumeric())
print(op)

28

In [ ]:
s = 'raja'
op = sum(ord(i) for i in s if i.lower() in 'aeiou')
print(1 if op%8 ==0 else 0)

0

In [ ]:
'a'.isnumeric()

False

In [ ]:
ip = input()
stack, open, cs = [], "{[(", "}])"
"""
for i in ip:
  if i in open:
    stack.append(i)
  elif i in cs:
"""

NameError: ignored

In [ ]:
s = "1334551"
op, op1 = [], ""
for i in range(1,len(s)):
  if s[i-1] == s[i]:
    op.append(i-1)
    op.append(i)
print(op)
for j in range(len(s)):
  if j not in op:
    op1 += s[j]
print(op1)

[1, 2, 4, 5]
141

In [ ]:
ip = int(input())
sem = 0
if ip%2 == 0 or ip == 1:
    sem = 1
if sem == 0:
    for i in range(3, ip, 2):
        if ip%i == 0:
            sem = 1
            print(ip)
            break;
if sem == 1:
    print("yes")
else:
    print("no")

109
no

In [ ]:
ip = input()
ip = list(map(int, ip.split()))
print(ip[0]**ip[1])

3 4
81

In [ ]:
ip = list(map(int, input().split()))
print(round((1/2)*ip[0]*ip[1]))

3 4
6

In [ ]:
ip = input().lower()
print(1 if ip[0]=='a' and ip[-1]=='z' and ip[len(ip)//2]=='m' else 0)

abcdez
0

In [ ]:
len(ip)//2

3

In [ ]:
l = ['test','work']

In [ ]:
print(*l)

test work

In [ ]:
ip = input()
art, ip1, ip, op = ['a','an','the'], ip.lower().split(), ip.split(), []

The Sun rises in THe east

In [ ]:
print(*ip1)

the sun rises in the east

In [ ]:

for i in range(1,len(ip1)):
  if ip1[i-1] in art:
    op.append(ip[i])
print(*op)

1
2
3
4
5

In [ ]:
print(*op)

Sun east

In [ ]:
ip = input().split()
s, op = 'codekata', 0
for i in ip:
  if i==s:
    op += 1
print(op if op>0 else -1)

I enjoy doing codekata
1

In [ ]:
ip = input()
s = sum(1 for i in ip)
print(s)

code
4

In [ ]:
ip = list(map(int,input().split()))
print(ip[0]*ip[1])

213 567
120771

In [ ]:
ip = "APASD1234K"
sem = 1
if len(ip) == 10:
  for i in range(5):
    if not ip[i].isalpha() or not ip[i].islower():
      sem = 0
      print(i)
      break;
  for i in range(6,9):
    if not ip[i].isnumeric() or not int(ip[i])>0:
      sem = 0
      print(i)
      break;
print(sem)
print('pan' if sem == 1 else 'not pan')

0
0
not pan

In [ ]:
ip = input()
ip = ip.replace(",", "")
ip = ip.replace(".", "")
op = [int(i) for i in ip if i.isnumeric()]

i am kannan 12 test 45 numbers in 32345 group

In [ ]:
print(max(op))

32345

In [ ]:
ip = input().split()
op = list(ip[i-1].upper() if i%2==1 else ip[i-1].lower() for i in range(1,len(ip)+1))
print(*op)

abc def ghi jko mnep qur
ABC def GHI jko MNEP qur

In [ ]:
ip = input().split()
op = {}
for i in ip:
  if i in op:
    op[i] += 1
  else:
    op[i] = 1
op_sort = sorted(op.items(), key=lambda x:x[1], reverse = True)
m = max(op.values())
op_pr, st  = [], ""
for i in range(len(ip)):
  if op_sort[i][1] == m:
    op_pr.append(op_sort[i])
  else:
    break
for i in op_pr:
  st += i[0] + ' ' + str(i[1]) + ' '
print(st[:-1])

abc def def def abc abc efj efj a
{'abc': 3, 'def': 3, 'efj': 2, 'a': 1}
[('abc', 3), ('def', 3), ('efj', 2), ('a', 1)]

In [ ]:
print(*op_sort)

('def', 3) ('abc', 2) ('efg', 2) ('hij', 1)

In [ ]:
m = max(op.values())

In [ ]:
st = ""
for i in op_pr:
  st += i[0] + ' ' + str(i[1]) + ' '
print(st[:-1])

abc 3 def 3

In [ ]:
ip = input()
op_o, op_e = "", ""
for i in enumerate(ip):
  if i[0]%2 == 0:
    op_e += i[1]
  else:
    op_o += i[1]
print(op_e + " "+ op_o)

XCODE
XOE CD

In [ ]:
[*"abc"]

['a', 'b', 'c']

In [ ]:
st = "test"
stl = [*st]

In [ ]:
stl

In [ ]:
ip = input().split()
dic = {i:ip.count(i) for i in ip}
for i in dic.items():
  print(i)
print(dic)

and def and de acd
('and', 2)
('def', 1)
('de', 1)
('acd', 1)
{'and': 2, 'def': 1, 'de': 1, 'acd': 1}

In [ ]:
ip = input().split()
op = [i[::-1] for i in ip]
print(*op)

avcd er x
dcva re x

In [ ]:
ip = input()
ip1 = input()
print(ip.index(ip1) if ip1 in ip else -1)

testtes
tt
3

In [ ]:
ip = input()
op = [i for i in ip if i.lower() in "aeiou"]
op1 = [i for i in ip if i.lower() not in "aeiou"]
op2 = "".join(i for i in op) + "".join(i for i in op1)
print(op)

guvi
['u', 'i']

In [ ]:
print(op2)

uigv

In [ ]:
ip = input().split()
print(*ip[::-1])

hello world
world hello

In [ ]:
ip = input().split()
print([True if i[0].isupper() else False for i in ip])

Camel case
[True, False]

In [ ]:
i1 = "Test"
i1[0].isupper()

True

In [ ]:
ip = input().split()

this is is an is is example

In [ ]:
for i in enumerate(ip):
  print(i[0],i[1])

0 this
1 is
2 is
3 an
4 is
5 is
6 example

In [ ]:
op = [i[1][::-1] if i[0]%2==0 else i[1] for i in enumerate(ip)]

In [ ]:
print(op)

['siht', 'is', 'si', 'an', 'si', 'is', 'elpmaxe']

In [ ]:
ip = input()
op = sum(ord(i) for i in ip)

guvi

In [ ]:
print(op)

443

In [ ]:
ip = list(input())
vow = [(i[0],i[1]) for i in enumerate(ip) if i[1].lower() in "aeiou"]
sort_vow = sorted(vow, key=lambda x:x[1])
print(vow)
print(sort_vow)
for i in range(len(vow)):
  ip[vow[i][0]] = sort_vow[i][1]
print("".join(i for i in ip))

ebciudbaef
[(0, 'e'), (3, 'i'), (4, 'u'), (7, 'a'), (8, 'e')]
[(7, 'a'), (0, 'e'), (8, 'e'), (3, 'i'), (4, 'u')]
abceedbiuf

In [ ]:
i = iter([1,2,3])
print(next(i))
print(next(i))
print(next(i))
print(next(i))

1
2
3

StopIteration: ignored

In [ ]:
print(*ip)

a b c e e d b i u f

In [ ]:
ip1, ip2 = input(), input()
tmp = sorted(ip1+ip2)
op = "yes"
for i in zip(tmp,"ABCDEFGHIJKLMNOPQRSTUVWXYZ"):
  if i[0]!=i[1]:
    op = "no"
    break
print(op)

ABCDEGXYZ
FHIJKLMNOPQRSTUVW
yes

In [ ]:
n, ip1, ip2 = int(input()), input().split(), input()
op = list(filter(lambda x:x.startswith(ip2),ip1))
print(len(op))

5
testing te abcd ase tes sed
a
2

In [ ]:
i = "testing"

In [ ]:
i.startswith("test")

True

In [ ]:
l = ["testing","tesafkjsdh","abcda","te"]
op = list(filter(lambda x:x.startswith("te"), l))
print(op)

['testing', 'tesafkjsdh', 'te']

In [ ]:
ip = list(map(int, input().split()))
print(min(ip))

5 4 3 2 1 7 6 10 8 9
1

In [ ]:
n = int(input())
print(n*(n+1)//2)

11
66

In [ ]:
n, ip = int(input()), list(map(int, input().split()))
print(1 if n>6 and sum(ip[:3])==sum(ip[-3:]) else 0)

7
1 2 3 4 6 0 0
1

In [ ]:
lis = [1,2,3,4,6,0,0]

In [ ]:
lis[-3:]

[6, 0, 0]

In [ ]:
print(5**10)

9765625

In [ ]:
class Arithmetic:
  a = 0
  b = 0
  operation = "add"

  def __init__(self, a=0, b=0, op="add"):
    self.a = a
    self.b = b
    self.operation = op

  def func(self):
    print("self operation : " + self.operation)
    if self.operation == "add":
      return self.a + self.b
    elif self.operation == "sub":
      return self.a - self.b
    elif self.operation == "mul":
      return self.a*self.b

if __name__=="__main__":
  obj = Arithmetic()
  obj.a = 10
  obj.b = 20
  obj.operation = "mul"
  print(obj.func())

  obj1 = Arithmetic(20,11,"sub")
  print(obj1.func())

  obj1.test = "testvalue1"
  print(obj1.test)

self operation : mul
200
self operation : sub
9
testvalue1

In [ ]:
n = int(input())
ip = input().split()
tmp = [True  if ip[i]==ip[i+1] else False for i in range(n-1)]
print(tmp)

4
abc  aa aa abc
[False, True, False]

In [ ]:
ip = input()
if len(ip)%2!=0:
  ip1, ip2 = ip[:len(ip)//2], ip[len(ip)//2+1:]
  print(ip1)
  print(ip2)
  for i in zip(ip1,ip2):
    print(i)

abxcabx
abx
abx
('a', 'a')
('b', 'b')
('x', 'x')

In [ ]:
mn = input().split()
m,n = int(mn[0]), int(mn[1])
ip = [list(map(int,input().split())) for i in range(m)]
print(ip)

3 3
87 21 34
89 32 78
12 23 45
[[87, 21, 34], [89, 32, 78], [12, 23, 45]]

In [ ]:
tmp = [j for sub in ip for j in sub]

In [ ]:
op = sorted(tmp)

In [ ]:
op1 = [op[i:i + n] for i in range(0, len(op), n)]

In [ ]:
for i in op1:
  print(*i)

12 21 23
32 34 45
78 87 89

In [ ]:
n = int(input())
ip = input().split()
op = [(ip[i*2],ip[i*2+1]) for i in range(n)]

3
Karthik 23000 rohan 81734 varshini 12343

In [ ]:
op_srt = sorted(op, key = lambda x:int(x[1]))

In [ ]:
for i in op_srt:
  print(i[0])

varshini
Karthik
rohan

In [ ]:
n = int(input())
ip = list(map(int, input().split()))
print(max(ip))

In [ ]:
n = int(input())
ip = list(map(int, input().split()))
tmp = [ip[i] for i in range(n) if i%2==0]
tmp_srt = sorted(tmp)

5
3 9 1 44 6

In [ ]:
op = [tmp_srt[i//2] if i%2==0 else ip[i] for i in range(n)]

In [ ]:
print(*op)

1 9 3 44 6

In [ ]:
n = int(input())
ip = list(map(int, input().split()))
op = [ip[i+1] if ip[i]>ip[i+1] else -1 for i in range(n-1)]
print(op)

7
10 7 9 3 2 1 15
[7, -1, 3, 2, 1, -1]

In [ ]:
ip = input()
rev = lambda x: "".join(x[i] for i in range(len(x)-1,-1,-1))
print(rev(ip))

input
tupni

In [ ]:
n = int(input())
op = []
for i in range(n):
  n1 = input()
  ip = list(map(int, input().split()))
  op.extend(sorted(ip))
print(*op)

3
2
98 12
6
1 2 3 8 5 9
1
11
12 98 1 2 3 5 8 9 11

In [ ]:
n1 = int(input())
ip = list(map(int, input().split()))
n = int(input())
op = []
for i in range(len(ip)-n+1):
  tmp = list(filter(lambda x:x < 0,ip[i:i+n]))
  op.append(tmp[0] if len(tmp)>0 else 0)
print(*op)

7
1 -2 -3 -4 5 6 -7
4
-2 -2 -3 -4

In [ ]:
n = int(input())
ip1 = list(map(int, input().split()))
ip2 = list(map(int, input().split()))
ip1.extend(ip2)
tmp = sorted(ip1)
print(tmp[len(tmp)//2-1]+ tmp[len(tmp)//2])

5
1 9 16 25 46
2 3 4 5 6
11

In [ ]:
print(tmp)

None

In [ ]:
ip1, ip2 = input().split()

abc def

In [ ]:
ip1, ip2 = input().split()
op = "yes"
if len(ip1)==len(ip2):
  for i in range(len(ip1)):
    if min(ip1[i:])!=min(ip2[i:]):
      op = "no"
      break
else:
  op = "no"
print(op)

abcdef fedabc
no

In [ ]:
tmp = list(ip1).remove(min(ip1))

In [ ]:
ip = input().split()
ip1, ip2 = list(ip[0]), list(ip[1])
op = "yes"
if len(ip1)==len(ip2):
  for i in range(len(ip1)):
    if min(ip1)!=min(ip2):
      op = "no"
      break
    else:
      ip1.remove(min(ip1))
      ip2.remove(min(ip2))
else:
  op = "no"
print(op)

eadacb eadecb
no

In [ ]:
ip2

['r', 'a', 'v', 'e', 's']

In [ ]:
n = int(input())
ip = list(map(int,input().split()))
op = bin(0)
for i in ip:
  op = bin(int(op,2)|i)
print(int(op,2))

2
2 4 8
14

In [ ]:
a,b,c = list(map(int,input().split()))
print("yes" if (a*a + b*b)==(c*c) else "no")

3 4 6
no

In [ ]:
a,b = list(map(int,input().split()))
sml = b if a>b else a
for i in range(1,sml+1):
  if((a%i==0) and (b%i==0)):
    hcf = i
print(hcf)

54 24
6

In [ ]:
a,b = list(map(int,input().split()))
print("odd" if (a+b)%2==1 else "even")

9 11
even

In [ ]:
a,b,c = list(map(int,input().split()))
print("yes" if a!=b and b!=c and a!=c else "no")

3 4 5
yes

In [ ]:
a,b = list(map(int,input().split()))
ip = list(map(int,input().split()))
op = sum(1 for i in ip if i==b)
print(op-1 if op>0 else -1)

6 3
1 3 4 5 6 2
1
-1

In [ ]:
import math
n = int(input())
tmp = int(math.log2(n))
print(n if (2**tmp)==n else 2**(tmp+1))

48
64

In [ ]:
n = int(input())
ip = list(map(int,input().split()))
for i in range(0,n-1,2):
  ip[i],ip[i+1] = ip[i+1],ip[i]
print(*ip)

7
1 2 3 4 5 6 7
[2, 1, 4, 3, 6, 5, 7]

In [ ]:
a,b = input().split()
if len(a)>len(b):
  b = b.rjust(len(a),'0')
else:
  a = a.rjust(len(b),'0')
print(a,b)
tmp = []
for i in list(zip(a,b))[::-1]:
  print(i)
  tmp.append(str(int(i[0])+int(i[1]))[-1])
print(tmp)
op = "".join(i for i in tmp[::-1])
print(int(op))

234 56789
00234 56789
('4', '9')
('3', '8')
('2', '7')
('0', '6')
('0', '5')
['3', '1', '9', '6', '5']

In [ ]:
n = int(input())
ip = list(map(int, input().split()))
op = sum(filter(lambda x:x<0,ip))
print(op)

5
2 -1 3 -4 -5
-10

In [ ]:
n,k = list(map(int, input().split()))
ip = list(map(int, input().split()))
op = -1
for i in range(n):
  if ip[i]==k:
    op = i
    break;
print(op)

3 12
1 10 2
-1

In [ ]:
n,k = list(map(int, input().split()))
ip = list(map(int, input().split()))
op = next((i for i, val in enumerate(ip) if val == k), -1)
print(op)

3 12
2 3 12
2

In [ ]:
n = int(input())
ip = list(map(int, input().split()))
sm = sum(sorted(ip)[:3])
op = list(map(lambda x:x-sm,ip))
print(*op)

5
95 85 75 12 11
-3 -13 -23 -86 -87

In [ ]:
#1 1 2 5 5
n = int(input())
ip = list(map(int, input().split()))
op = next((i for i in ip if ip.count(i)==1),0)
print(op)

5
1 1 2 5 5
2

In [ ]:
ip = input()
tmp = list(map(int,list(ip)))
op = sum(list(map(lambda x:x**2,tmp)))
print(op)

234
29

In [ ]:
n = int(input())
ip = list(map(int,input().split()))
ip.remove(max(ip))
print(max(ip))

10
1 9 8 7 6 5 2 3 4 10
9

In [ ]:
n = int(input())
ip = list(map(int,input().split()))
print("Dealer"+str(ip.index(min(ip))))

5
10000 11200 12030 345 2542354
Dealer3

In [ ]:
n = int(input())
for i in range(1,n*2+1,2):
  op = "1 "*i
  print(op[:-1])

3
1
1 1 1
1 1 1 1 1

In [ ]:
n = int(input())
ip = list(map(int,input().split()))
print(*sorted(ip))

8
9876 346 2354 567 6798 78
78 346 567 2354 6798 9876

In [ ]:
n,m = list(map(int,input().split()))
ip = [list(map(int,input().split())) for i in range(n)]
op = [sum(i) for i in ip]
print("RAM: " + str(sum(op)))
print("SITA: " + str(n*m - sum(op)))

1 3
1 1 1
RAM: 3
SITA: 0

In [ ]:
n = int(input())
ipn = list(map(int, input().split()))
m = int(input())
ipm = list(map(int, input().split()))
op = []
for i in ipm:
  sem = False
  for j in range(n-1):
    if i<=ipn[j] and i>=ipn[j+1]:
      print(ipn[j])
      print(i)
      print(ipn[j+1])
      print("---")
      sem = True
      op.append(j+2)
  if not sem:
    if i>=ipn[0]:
      sem = True
      op.append(1)
    elif ipn[-1]> i:
      sem = True
      op.append(len(ipn)+1)
print(*op)

6
95 79 74 56 52 10
1
9
7

In [ ]:
op

[]

In [5]:
n = int(input())
ip = list(map(int,input().split()))
ip = list(filter((min(ip)).__ne__, ip))
print(-1 if len(ip)==0 else min(ip))

6
2 3 4 1 23 4 1
2

In [13]:
list(filter((3).__ne__,ip))

[2, 4, 23, 4]

In [16]:
n = int(input())
ip1 = list(map(int, input().split()))
ip2 = list(map(int, input().split()))
op,i,j = 0,0,0
while i<(n-1) and j<(n-1):
  if ip1[i]==ip2[j]:
    op+=1
    i+=1
    j+=1
  elif ip1[i]<ip2[j]:
    i+=1
  else:
    j+=1
print(op)

6
1 2 4 5 6 8
1 4 5 9 10 11
1
1
3
2
4
3
3

In [2]:
n,k = list(map(int, input().split()))
ip = list(map(int, input().split()))
op = sorted(ip)
print(op.index(k) if k in ip else -1)

5 3
1 2 34 54 6
-1

In [17]:
n,m = list(map(int, input().split()))
ip1 = sorted(list(map(int, input().split())))
ip2 = sorted(list(map(int, input().split())))
op = []
i,j = 0,0
while True:
  if i+1 == n:
    break
  if j+1 == m:
    break
  if ip1[i]<ip2[j]:
    op.append(ip1[i])
    i = i+1
  elif ip1[i]>ip2[j]:
    op.append(ip2[j])
    j = j+1
  elif ip1[i]==ip2[j]:
    op.append(ip1[i])
    op.append(ip2[j])
    i = i+1
    j = j+1
if ip1[i]<ip2[j]:
  if (i) < n:
    op = op + ip1[i:]
  if (j) < m:
    op = op + ip2[j:]
else:
  if (j) < m:
    op = op + ip2[j:]
  if (i) < n:
    op = op + ip1[i:]
print(*op)

5 4
1 5 3 8 9
2 4 7 6
0 0
1 2


1 0
3 2
1

1 1
3 4
1 2

2 1
5 4
1 2 3

2 2
5 6
1 2 3 4

3 2
8 6
1 2 3 4 5

3 3
8 7
1 2 3 4 5 6

1 2 3 4 5 6 7 8 9

In [18]:
n = int(input())
ip = list(map(int, input().split()))
op = -999999999
for i in range(n-1):
  if ip[i]+ip[i+1] > op:
    op = ip[i]+ip[i+1]
print(op)

5
1 2 4 6 8
14

In [19]:
#1 1 2 5 5
n = int(input())
ip = list(map(int, input().split()))
op = next(i for i in ip if ip.count(i)==1)
print(op)

5
1 1 2 5 5
2

In [23]:
#1 2 1 4 1
n,k = list(map(int, input().split()))
ip = list(map(int, input().split()))
op = list(filter(lambda x:x<k,ip))
if len(op)==0:
  print(-1)
else:
  print(*sorted(op))

5 4
1 2 1 5 1
1 1 1 2

In [30]:
n = int(input())
ip = list(map(int,input().split()))
mn, tmp = 0, 1
for i in range(n-1):
  if ip[i]==ip[i+1]:
    tmp += 1
    if tmp > mn:
      mn = tmp
  else:
    tmp = 1
print(-1 if mn == 0 else mn)

8
1 2 2 2 3 4 5 6
3

In [12]:
ip = input()
op = [chr(ord(i)+3) if ord(i)<87 else chr(ord(i)+3-26) for i in ip]
print("".join(i for i in op))

DEXYZ
GHABC

In [22]:
n = int(input())
ip = list(map(int, input().split()))
tmp = []
for i in ip:
  if i==1:
    tmp.append(i)
  else:
    break
print(*tmp)

5
1 1 1 0 0
1 1 1

In [25]:
n = int(input())
ip = list(map(int,input().split()))
op = "yes"
if ip[0]>ip[1]:
  for i in range(1,n-1):
    if ip[i]<ip[i+1]:
      op = "no"
      break
else:
  for i in range(1,n-1):
    if ip[i]>ip[i+1]:
      op = "no"
      break
print(op)

5
2 3 6 5 7
no

In [27]:
n,k = input().split()
op = sum(1 for i in n if i==k)
print(op)

10001 1
2

In [29]:
n = int(input())
ip = list(map(int, input().split()))
print(max(ip)-min(ip))

5
1 2 3 4 5
4

In [31]:
n,k = list(map(int,input().split()))
ip = list(map(int, input().split()))
print(ip[:n-k])

5 4
1 2 3 4 5
[1, 2, 3, 4]

In [34]:
n = int(input())
ip = list(map(int, input().split()))
op = sum(ip[i]+ip[i+1] for i in range(n-1))
print(op)

5
1 2 3 4 5
24

In [2]:
n,m = list(map(int, input().split()))
ip = list(map(int, input().split()))
op = [i for i in ip[:n] if i in ip[n:]]
print(*sorted(op))

5 4
1 2 3 4 5 1 2 3 4
1 2 3 4

In [4]:
ip[:n]

[1, 2, 3, 4, 5]

In [5]:
ip[n:]

[1, 2, 3, 6]

In [33]:
print(*ip[:n-k])

1

In [11]:
(ord('X')+3)-26

65

In [11]:
ip = input()
print(oct(int(ip,2))[2:])

1100100
144

In [18]:
n = int(input())
ip = list(map(int, input().split()))
check = lambda x:x%2==0
op = list(map(check, ip))
op_sum = sum(op)
op_ret = -1
if op_sum == 1 or op_sum == n-1:
  if op_sum == 1:
    for o,i in zip(op,ip):
      if o:
        op_ret = i
        break
  else:
    for o,i in zip(op,ip):
      if not o:
        op_ret = i
        break
else:
  op_ret = -1
print(op_ret)

5
1 3 4 6 7
-1

In [23]:
n, k = list(map(int, input().split()))
ip = [input() for i in range(n)]
op = "no"
for i in range(n-k+1):
  if len(set(ip[i:i+k])) == 1:
    op = "yes"
    break
print(op)

5 3
abc
def
ghi
kal
anc
no

In [24]:
n, k = list(map(int, input().split()))
ip = list(map(int, input().split()))
print("yes "+str(ip.count(k)) if ip.count(k)>0 else "no")

5 3
4 3 3 5 6
yes2

In [25]:
ip = input()
print(hex(int(ip,2))[2:])

1100100
64

In [31]:
n = int(input())
ip = list(map(int,input().split()))
op = "yes"
for i in range(n-1):
  if i%2==0:
    if ip[i] > ip[i+1]:
      op = "no"
      break
  else:
    if ip[i] < ip[i+1]:
      op = "no"
      break
print(op)

5
12 12 3 2 4
no

In [33]:
#3 3 4 4 7
n = int(input())
ip = list(map(int,input().split()))
op = {i:ip.count(i) for i in ip}
print(min(op,key=op.get))

5
3 3 4 4 7
7

In [39]:
n = int(input())
ip = input().split()
op = {i:ip.count(i) for i in ip}
print("Not Blacklisted" if (op['P']/n)*100>25 else "Blacklisted")

5
A A P P A
Not Blacklisted

In [35]:
(op['P']/n)*100

40.0

In [1]:
ip = input()
print(oct(int(ip,2))[2:])

144

In [2]:
n = int(input())
ip = list(map(int, input().split()))
check = lambda x:x%2==0
op = list(map(check, ip))
op_sum = sum(op)
op_ret = -1
if op_sum == 1 or op_sum == n-1:
  if op_sum == 1:
    for o,i in zip(op,ip):
      if o:
        op_ret = i
        break
  else:
    for o,i in zip(op,ip):
      if not o:
        op_ret = i
        break    
else:
  op_ret = -1
print(op_ret)

-1

In [3]:
n, k = list(map(int, input().split()))
ip = [input() for i in range(n)]
op = "no"
for i in range(n-k+1):
  if len(set(ip[i:i+k])) == 1:
    op = "yes"
    break
print(op)

yes

In [4]:
n, k = list(map(int, input().split()))
ip = list(map(int, input().split()))
print("yes "+str(ip.count(k)) if ip.count(k)>0 else "no")

yes 2

In [ ]:
n = int(input())
ip = list(map(int,input().split()))
op = {i:ip.count(i) for i in ip}
print(min(op,key=op.get))

In [5]:
ip, n = input().split()
if int(n)!=0:
  op = [v.upper() if (i+1)%int(n)==0 else v for i,v in enumerate(ip)]
  print("".join(i for i in op))
else:
  print(ip)

stRinGmaNipUlaTioN

In [6]:
n = int(input())
ip = list(map(int, input().split()))
mid = lambda x:len(x)//2 if len(x)%2==1 else (len(x)//2)-1
op = []
while True:
  if len(ip)==0:
    break
  m = mid(ip)
  op.append(ip[m])
  ip.pop(m)
print(*op)

3 2 4 1 5